/*imports */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&family=Source+Sans+3:wght@400;600&display=swap');

html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-list li a {
    text-decoration: none;
    color: #090909;
}

/* nav area */
header {
    width:100%;
    height: 14vw;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:white;
}
nav {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    align-items:center;
    width:100vw;
}

body {
    background-color:#FAFAFA;
}

/* nav-logo area*/
.logo {
    margin:1.5em;
    display: flex;
}
.logo-img {
    width:6vw;
}

.logo-text {
    margin:auto 0.25rem;
    color: #0E0E0E;
    font-family: 'Roboto';
    font-size: 3.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: 108.2%; /* 14.664px */
    
}

/* nav-text area*/

.nav-list {
    display:flex;
    list-style-type: none;
    margin: auto 0;
    padding:0;
    margin-right:2vw;
    width:40%;
    justify-content: space-around;


}

.nav-list li {
    color: #090909;
    font-family: 'Source Sans 3';
    font-size: 3vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    text-transform:uppercase;
    
}

/*desktop version modifications*/
@media(min-width:600px) {

    header {
        height: 11vw;

    }
    .logo {
        margin:3em;
    }

    .logo-img {
        width:4vw;
    }
    
    .logo-text {
        font-size: 2.25vw;
    }
    
    /* nav-text area*/
    
    .nav-list {
        margin-right:2vw;
        width:20%;
    
    }
    
    .nav-list li {
        font-size: 2vw;
    }
}


/*Banner area*/

.banner {
    background-image:url('../images/banner.png');
    background-size: 100% auto;
    background-position: 50% 75%;
    height: 60vw;
    display: flex;
    flex-direction: column;
    color:white;
    font-family: 'Source Sans 3'; 
    justify-content: flex-end;
}

.banner-date {
    text-transform: uppercase;
    font-size: 3vw; 
}
.banner-head {
    font-size:8vw;
    line-height:120%;
}


.banner-date, .banner-head, .banner-subheading {
    margin: 0vw 5vw;
    
}

.banner-subheading {
    margin-bottom: 2rem;
    font-size:3vw ;
}

.banner-head a {
    color:white;
    font-family: 'Source Sans 3'; 
    text-decoration: none;
}
/*desktop version modifications*/
@media(min-width:600px) {

    .banner {
        height: 60vw;
    }
    
    .banner-date {
        text-transform: uppercase;
        font-size: 1.5vw; 
    }

    .banner-head {
        font-size:4vw;
        line-height:120%;
    }
    
    .banner-date, .banner-head, .banner-subheading {
        margin: 0vw 5vw;
        
    }
    
    .banner-subheading {
        margin-bottom: 10rem;
        font-size:2vw ;
        width:70%;
    }
}
/*Banner Info expanded*/
.banner-info {
    display:flex;
    width:90%;
    justify-content: space-between;
    flex-direction: column;
    margin: 2vw auto;

}

.banner-info-text {
    color: #151515;
    font-family: 'Source Sans 3';
    font-size: 3vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.banner-info-head {
    color: #151515;
    font-family: 'Source Sans 3';
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.info-image{
    object-fit:cover;
    object-position: 50%  75%;
    width:100%;
    height: 40vw;
}

.recent-posts-header {
    margin: 2vh auto;
    text-align:center;
    font-size: 3vw;
    color: #151515;
    font-family: 'Source Sans 3';
}

/*desktop version modifications*/
@media(min-width:600px) {

    .banner-info {
        display:flex;
        width:90%;
        justify-content: space-between;
        flex-direction: column;
        margin: 2vw auto;
    
    }
    
    .banner-info-text {
        color: #151515;
        font-family: 'Source Sans 3';
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
        margin: 0.5vw auto; 
        width:90%;
    }
    
    .banner-info-head {
        color: #151515;
        font-family: 'Source Sans 3';
        font-size: 2vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0.5vw auto; 
        width:90%;
        
    }
    
    .info-image{
        object-fit:cover;
        object-position: 50%  75%;
        height: 40vw;
        margin: 2vw auto;
    }
    
    .recent-posts-header {
        margin: 1vh auto;
    }
    

}


/* blog-card*/

.blog-card {
    display:flex;
    flex-direction: column;
    width: 90vw;
    margin: 2vw auto 0 auto;
    font-family: 'Source Sans 3';

}

.blog-card img {
    max-height: 56vw;
    object-fit:cover;
    margin: 2vw 0 0 0;
}

.blog-date {
    color: #000;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size:3vw;
    margin: 2vw 0 0 0;
}

.blog-heading {
    color: #141414;
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    line-height: 108.2%; /* 25.968px */
    margin: 2vw 0 0 0;
}

.blog-intro {
    color: #505050;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */ 
    margin: 2vw 0 0 0;
}

.view-more {
    color: #000;
    text-align: center;
    font-family: 'Source Sans 3';
    font-size: 3vw;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline; 

}

/*desktop version modifications*/
@media(min-width:600px) {

    .blog-holder {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }

    .blog-card {
        max-width: 30vw;
    }
    
    .blog-card img {
        height: 25vw;
        width:30vw;
        border-radius:0.5vw;
    }
    
    .blog-date {
        font-size:1.5vw;
    }
    
    .blog-heading {
        font-size:3vw;
    }
    
    .blog-intro {
        font-size: 1.5vw;
    }
    
    .view-more {
        font-size: 2vw;
    }
}



/* footer */
footer {
    height: 25vw;
    width:100%;
    display:fixed;
    bottom:0px;
    left:0px;
    background-color: #202020;
    color: #ECECEC;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 108.2%; /* 12.984px */
    letter-spacing: -0.36px; 
    display:flex;
    flex-direction:column;
    justify-content: center;
    font-size:3vw;

}

.footer-text {
    text-transform: capitalize;
    margin: 1vw;
}

.footer-copyright {
    font-weight:400;
    margin:1vw;
}

#b4, #b5, #b6 {
    display:none;   
}

/*desktop version modifications*/
@media(min-width:600px) {
    footer {
        height: 12vw;
        font-size:1.5vw;
    
    }
    
    .footer-text {

        margin: 0.25vw;
    }
    
    .footer-copyright {

        margin:0.25vw;
    }

}


/*about me page*/

.headshot-container {
    margin:1.5vw 4vw;
}

.headshot {

    object-fit: cover;

    object-position: 0% 0%;
    border-radius: 50%;
    width:44vw;
    height:44vw;
    
}

.about-me-intro {
    font-size:1.4rem;
    line-height: 200%;
    width:87%;
    font-family: 'source sans 3';

}

.about-me-intro h1 {
    font-weight: bold;
}
.about-me-intro p {
    line-height: 120%;

}

/*desktop version modifications*/
@media(min-width:600px) {
    .headshot-container {
        margin:1.5vw 4vw;
        display:flex;
    }
    
    .headshot {
    
        object-fit: cover;
    
        object-position: 0% 0%;
        border-radius: 50%;
        width:18vw;
        height:18vw;
        
    }
    
    .about-me-intro {
        font-size:1.4rem;
        line-height: 200%;
        width:87%;
        font-family: 'source sans 3';
    
    }
    
    .about-me-intro h1 {
        font-size: 4vw;
        line-height:105%;
        font-weight: bold;
    }
    .about-me-intro p {
        line-height: 120%;
        margin:1vw 4vw;
        font-size:1.5vw;
        width:90%;
    
    }

    .banner-subheading {
        margin:1vw 4vw;
        font-size:1.5vw;
    }

}
